<h1>Add a Borrower</h1>
<%= render partial: 'layouts/errors', locals: {object: @borrower} %>
<%= form_for @borrower do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :library_id, value: current_user.id %>

  <%= f.submit "Add" %>
<% end %>
