<h1>Add a Loan</h1>

<%= render partial: 'layouts/errors', locals: {object: @loan} %>


<%= form_for [@borrower, @loan] do |f| %>

  <%= f.label :loaned_on %>
  <%= f.date_field :loaned_on %>
  <br>
  <%= f.label :duration %>
  <%= f.select :duration, options_for_select([1, 2, 3, 4, 5]), include_blank: true %>
  <br>
  <%= f.label :tool_id %>
  <%= f.collection_select :tool_id, current_user.tools.where(["in_library = ?", true]), :id, :name, include_blank: true %>
  <br>

  <%= borrower_form_option(f) %>


  <%= f.submit %>
<% end %>
