<!DOCTYPE html>
<html>
  <head>
    <title>ToolLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <nav class='navbar'>
      <%= link_to 'Logout', '/logout', method: :delete, class: 'button' %>
      <%= link_to 'My Tools', tools_path, class: 'button' %>
      <%= link_to 'Add a Loan', new_loan_path, class: 'button' %>
      <%= link_to 'My Loans', loans_path, class: 'button' %>
      <%= link_to 'Add a Borrower', new_borrower_path, class: 'button' %>
      <%= link_to 'All borrowers', borrowers_path, class: 'button' %>
    </nav>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
